*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page{
    display: flex;
    flex-direction: column;
}

.hero{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #E5E7EB;
    gap: 50px;
    padding: 0 300px 75px 300px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 75px 0;
}

.logo{
    font-size: 24px;
    color: #F9F8FA;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 600;
}

.logo img{
    height: 50px;
    width: 50px;
}


.nav-elements ul{
    display: flex;
    gap: 30px;
    font-size: 20px;
}

.description{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-side{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 0 0 400px;
}

.main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;;
}

.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.right-side{
    flex: 0 0 500px;
}

.right-side img{
    width: 100%;
    box-shadow: 0 0 20px  #E5E7EB;
    border-radius: 2%;
}


button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
  }
  
  button.sign-up-btn1 {
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    display: flex;
  }

.info{
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    gap: 70px;
    padding: 50px 150px 150px 150px;
}

.info-text{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-boxes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
}

.info-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box{
    display: flex;
    box-shadow: 0 0 26px 6px black;
    border-style: groove;
    border-radius: 3%;
    height: 200px;
    width: 200px;

}

.box>img{ 
    max-width: 100%;
    border-radius: 3%;
}

.info-desc{
    width: 200px;
}


.quote{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 50px 150px 50px 150px;
    
   
}

.quote  blockquote{
    justify-content: center;
    font-size: 36px;
    font-weight: 200;
}

.quote cite{
    justify-content: flex-end;
}

blockquote, cite{
    display: flex;
    color: #1F2937;
    font-size: 24px;
    font-weight: 500;
}

.sign-up{
    display: flex;
    margin: 100px 300px 100px 300px;
    padding: 50px 150px 50px 150px;
    background-color: #3882F6;
    color: #E5E7EB;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.sign-up button.sign-up-btn2{
    background: #3882F6;
    border: 1px solid white;
    padding: 5px;
    width: 100px;
    color: white;
}

.footer{
    background-color: #1F2937;
    color: #a3a3a3;
    padding: 30px;
    text-align: center;
    
}